@font-face {
    font-family: 'Apercu-bold';
    src: url('/fonts/apercu_bold_pro.otf') format('opentype');
    font-style: bold;
    text-decoration: none;
}
@font-face {
    font-family: 'Apercu-regular';
    src: url('/fonts/apercu_regular_pro.otf') format('opentype');
    font-style: normal;
    text-decoration: none;
}

* {
    font-family: 'Apercu-regular';
}

body {
    background-color: #FEF8F3;
}

h1 {
    font-size: 2.25rem; /*36px*/
    font-weight: bold;
}

h2 {
    font-size: 1.25rem; /*20px*/
    font-weight: 650;
}

h3 {
    font-size: 1.000rem; /* 16px*/
    font-weight: 600;
}

p {
    font-size: 0.813rem; /* 13.008px*/
    font-weight: normal;
}

.text-orange{
    color: #F76D3B;
}