.row {
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
}

.footer {
    background-color: white;
    padding: 20px 0;
}

.footer-col {
    /* background-color: antiquewhite; */
    width: 15vw;
    padding: 0 5vw;
}

.footer-col h5 {
    /* font-size: 36px; */
    font-weight: 600;
    /* position: relative; */
    color: black;
}

.footer-col img {
    height: 25vh;
    width: 25vh;
}

.footer-col .social-links a {
    /* background-color: blue; */
    text-decoration: none;
    height: 60px;
    width: 60px;
}

.no-style-link {
    color: inherit;
    text-decoration: none;
}

a.no-style-link:hover {
    color: inherit;
    text-decoration: none;
}