.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.card-title {
    margin-bottom: 10px;
    /* Add some space between the title and the rest of the content */
}

.card-writer {
    margin: 0;
}

.card-description {
    margin-top: 10px;
}

.myLearning-card {
    margin-bottom: 20px;
    /* Add some space between the cards */
}

.my-learning-wrapper {
    padding-top: 20px;
    /* Sesuaikan nilai ini sesuai kebutuhan */
}

.my-learning h1 {
    margin-top: 0;
    /* Menghapus margin atas jika ada */
    padding-top: 0;
    /* Menghapus padding atas jika ada */
}