/* navbar */
.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: rgb(255 255 255) !important;
}

/* search part */
.form-control {
    background-color: #FCF4EE;
    height: 24px;
    border: none;
    border-radius: 0 3px 3px 0;
}

.search-button {
    color: #000;
    background: #FCF4EE;
    padding: 0px 16px;
    border-radius: 0 3px 3px 0;
}

/* nav item */
.nav-item .nav-link {
    color: #2A3242;
    font-weight: medium;
}

.nav-item:hover .nav-link:hover {
    color: #F76D3B;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
    outline: none;
}

.login-btn {
    background-color: white;
    border-radius: 8px;
    color: #F76D3B;
    /* padding: 5px 10px; */
    border-color: #F76D3B;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    width: 4vw;
    transition: 0.5s;
}
.login-btn:hover {
    background-color: #F76D3B;
    border-radius: 10px;
    color: white;
    /* padding: 5px 10px; */
    border-color: #F76D3B;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    transition: 0.5s;
}
.regist-btn {
    background-color: #F76D3B;
    border-radius: 8px;
    color: white;
    /* padding: 5px 10px; */
    border-color: #F76D3B;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    transition: 0.5s;
}
.regist-btn:hover {
    background-color: #eb5c28;
    border-radius: 10px;
    color: white;
    /* padding: 5px 10px; */
    border-color: #F76D3B;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    transition: 0.5s;
}