@font-face {
    font-family: 'Apercu-bold';
    src: url('/fonts/apercu_bold_pro.otf') format('opentype');
    font-style: bold;
    text-decoration: none;
}
@font-face {
    font-family: 'Apercu-regular';
    src: url('/fonts/apercu_regular_pro.otf') format('opentype');
    font-style: normal;
    text-decoration: none;
}

* {
    font-family: 'Apercu-regular';
}

body {
    background-color: #FEF8F3;
}

body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
.no-scroll {
    height: 100vh;
    overflow: hidden;
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-custom {
    text-align: center;
}

.form-control-custom {
    border: none;
    background-color: #FEF8F3;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}
.form-group label {
    font-weight: bold;
    display: block;
    text-align: left;
}
.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.form-group {
    flex: 1 1 48%;
}

.regist-btn {
    background-color: #F76D3B;
    border-radius: 8px;
    color: white;
    /* padding: 5px 10px; */
    border-color: #F76D3B;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    transition: 0.5s;
}
.regist-btn:hover {
    background-color: #eb5c28;
    border-radius: 10px;
    color: white;
    /* padding: 5px 10px; */
    border-color: #F76D3B;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    transition: 0.5s;
}